body{
background-color: #5a5a5a;
height: 100vh;
overflow:hidden;
}

h1{
    margin-top: 100%;
    margin: 100%;
    font-size: 400%;
}

.circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 1000px;
    left: 10px;
    margin-bottom: auto;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    0% {
        transform:rotateX(70deg) rotateZ(0deg);
    }
    100% {
        transform:rotateX(70deg) rotateZ(360deg);
    }
    
}
